*.csv
*.md
.DS_Store
keys.txt

__pycache__/
prompts/
results/
static_gene_selection/
prompts_2/
results_2/
errors/
test.ipynb
**/config/secrets.yaml
experiments/2_CSDD_MULTI_LLM/runs/
experiments/2_CSDD_MULTI_LLM/prepared_data/
